<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" href="./styles/styles.css">
    <link rel="stylesheet" href="./styles/cards.css">
    <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon">
    <title>Cards | Dano Bank</title>
</head>

<body>
    <div id="app">

        <input type="checkbox" id="nav-toggle">
        <div class="sidebar">
            <div class="sidebar-brand">
                <h1> <span>Dano Bank</span>
                </h1>
            </div>

            <div class="sidebar-menu">
                <ul>
                    <li>
                        <a href="./accounts.html">
                            <span><i class="fa-solid fa-square-poll-vertical"></i></span>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="active">
                            <span><i class="fa-solid fa-credit-card"></i></span>
                            <span>Cards</span>
                        </a>
                    </li>
                    <li>
                        <a href="./transfers.html">
                            <span><i class="fa-solid fa-money-bill-transfer"></i></span>
                            <span>Transactions</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span><i class="fa-solid fa-circle-dollar-to-slot"></i></span>
                            <span>Staking</span>
                        </a>
                    </li>
                    <li>
                        <a href="./loan-application.html">
                            <span class="fas fa-boxes"></span>
                            <span>Loans</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fas fa-user-circle"></span>
                            <span>My Accounts</span>
                        </a>
                    </li>

                </ul>
                <ul>
                    <li>
                        <a href="#" @click="logout()">
                            <span><i class="fa-solid fa-arrow-right-from-bracket"></i></span>
                            <span>SignOut</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-content">
            <header class="d-flex align-items-center">
                <h2>
                    <label for=" nav-toggle">
                        <span class="fas fa-bars"></span>
                    </label>
                    Cards
                </h2>

                <div class="search-wrapper">
                    <span class="fas fa-search"> </span>
                    <input type="search" autocomplete="off" placeholder="Search..." />
                </div>
                <div class="user-wrapper gap-5">

                    <div v-if="cards.length<6">
                        <a href="./create-cards.html">
                            <button class="custom-btn btn-1">
                                <span><i class="fa-solid fa-plus"></i></span> New card</button>
                        </a>
                    </div>
                    <div>
                        <h4 v-cloak>{{client.firstName}} {{client.lastName}}</h4>
                        <small>Super Admin</small>
                    </div>
                </div>
            </header>
            <main>
                <div>
                    <div class="card row">
                        <div class="card-header col-12">
                            <h2>Your cards</h2>
                            <button v-cloak v-if="cards.length>0" data-bs-toggle="modal"
                                data-bs-target="#staticBackdrop" class="custom-btnn btn-1">
                                <span> Management</span></button>
                        </div>
                        <div class="card-body bg-white">
                            <div class="col-12" v-if="this.cards.length==0">
                                <p> Aun no tiene tarjetas solicitadas.</p>
                            </div>
                            <div v-cloak v-else class="col-12">

                                <div class="row gap-3" id="all-cards">
                                    <div class="row gap-3 ps-4 flex-wrap" id="card">
                                        <h2 v-if="cardsCredit.length>0">CREDIT CARDS</h2>

                                        <div class="card d-flex justify-content-center position-relative"
                                            v-for="card in cardsCredit" :class="{'expired':!isActive(card)}">
                                            <div v-if="!isActive(card)" id="disabled"
                                                class="d-flex justify-content-center align-items-center">
                                                <div>
                                                    <h4>Expired: {{formatearFechaCard(card.thruDate)}}</h4>
                                                </div>
                                            </div>

                                            <div class="card__front card__part"
                                                :class="{'silver' : card.color=='SILVER' , 'gold' : card.color=='GOLD' , 'titanium' : card.color=='TITANIUM','disabled': !isActive(card)}">
                                                <img class="card__front-logo card__logo" src="./assets/logo.png">
                                                <p class="card_numer">{{card.number.slice(0,4)}}
                                                    {{card.number.slice(4,8)}}
                                                    {{card.number.slice(8,12)}} {{card.number.slice(12,16)}}
                                                </p>
                                                <div class="card__space-75">
                                                    <span class="card__label">Card holder</span>
                                                    <p class="card__info">{{card.cardholder}}</p>
                                                </div>
                                                <div class="card__space-25">
                                                    <span class="card__label">Expires</span>
                                                    <p class="card__info">{{formatearFechaCard(card.thruDate)}}</p>
                                                </div>
                                            </div>

                                            <div class="card__back card__part"
                                                :class="{'silver':card.color=='SILVER','gold':card.color=='GOLD','titanium':card.color=='TITANIUM','disabled': !isActive(card)}">
                                                <div class="card__black-line"></div>
                                                <div class="card__back-content">
                                                    <div class="card__secret">
                                                        <p class="card__secret--last">{{card.cvv}}</p>
                                                    </div>
                                                    <img class="card__back-logo card__logo" src="./assets/logo.png">
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                    <div class="row gap-3 ps-4 flex-wrap" id="card">
                                        <h2 v-if="cardsDebit.length>0">DEBIT CARDS</h2>

                                        <div class="card d-flex justify-content-center" v-for="card in cardsDebit"
                                            :class="{'expired':!isActive(card)}">
                                            <div v-if="!isActive(card)" id="disabled"
                                                class="d-flex justify-content-center align-items-center">
                                                <div>
                                                    <h4>Expired: {{formatearFechaCard(card.thruDate)}}</h4>
                                                </div>
                                            </div>


                                            <div class="card__front card__part"
                                                :class="{'silver' : card.color=='SILVER' , 'gold' : card.color=='GOLD' , 'titanium' : card.color=='TITANIUM','disabled': !isActive(card)}">
                                                <img class="card__front-logo card__logo" src="./assets/logo.png">

                                                <p class="card_numer">{{card.number.slice(0,4)}}
                                                    {{card.number.slice(4,8)}}
                                                    {{card.number.slice(8,12)}} {{card.number.slice(12,16)}}
                                                </p>
                                                <div class="card__space-75">
                                                    <span class="card__label">Card holder</span>
                                                    <p class="card__info">{{card.cardholder}}</p>
                                                </div>
                                                <div class="card__space-25">
                                                    <span class="card__label">Expires</span>
                                                    <p class="card__info">{{formatearFechaCard(card.thruDate)}}</p>
                                                </div>
                                            </div>

                                            <div class="card__back card__part"
                                                :class="{'silver':card.color=='SILVER','gold':card.color=='GOLD','titanium':card.color=='TITANIUM','disabled': !isActive(card)}">
                                                <div class="card__black-line"></div>
                                                <div class="card__back-content">
                                                    <div class="card__secret">
                                                        <p class="card__secret--last">{{card.cvv}}</p>
                                                    </div>

                                                    <img class="card__back-logo card__logo" src="./assets/logo.png">

                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>


                <!-- Vertically centered scrollable modal -->

            </main>
            <div class="modal fade" id="staticBackdrop" data-bs-focus="false" data-bs-backdrop="static"
                data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body ">
                            <div class="table-responsive heigth-cards table-card">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Status</th>
                                            <th>Type</th>
                                            <th>Cardholder</th>
                                            <th>Termination Number</th>
                                            <th>ThruDate</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for='card in cards.sort((a,b)=>b.expired-a.expired)' class="">
                                            <td class="text-success" :class="{'text-danger':card.expired}">
                                                {{card.expired?'Expired':'Active'}}</td>
                                            <td>{{card.type}}</td>
                                            <td>{{card.cardholder}}</td>
                                            <td>{{card.number.slice(-4)}}</td>
                                            <td>{{formatearFechaCard(card.thruDate)}}</td>
                                            <td> <button class="custom-btnn btn-1" @click='disabledCard(card.id)'>
                                                    <i class="fa-solid fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <section>
                    <div class="conteiner row">

                        <h2 class="my-bank mb-5 text-info">Hi, {{client.firstName}}.</h2>
                        <a v-if="cards.length < 6" class="m-3" href="./create-cards.html" id="create">
                            <span></span>
                            <span></span>
                            <span></span>
                            <span></span>
                            Create Card
                        </a>
                        <div v-if="this.cards.length==0">
                            <p> Aun no tiene tarjetas solicitadas.</p>

                        </div>
                        <div v-else class="d-flex flex-column align-items-center justify-content-center">

                            <h3 class="title align-center">Hover the Cards!</h3>

                            <div class="row gap-3">
                                <div class="row flex-wrap gap-3" id="card">
                                    <h2>CREDIT CARD</h2>
                                    <div class="card" v-for="card in cardsCredit">
                                        <div class="card__front card__part"
                                            :class="{'silver' : card.color=='SILVER' , 'gold' : card.color=='GOLD' , 'titanium' : card.color=='TITANIUM'}">
                                            <img class="card__front-logo card__logo" src="./assets/logo.png">

                                            <p class="card_numer">{{card.number.slice(0,4)}} {{card.number.slice(4,8)}}
                                                {{card.number.slice(8,12)}} {{card.number.slice(12,16)}}
                                            </p>
                                            <div class="card__space-75">
                                                <span class="card__label">Card holder</span>
                                                <p class="card__info">{{card.cardholder}}</p>
                                            </div>
                                            <div class="card__space-25">
                                                <span class="card__label">Expires</span>
                                                <p class="card__info">{{formatearFechaCard(card.thruDate)}}</p>
                                            </div>
                                        </div>

                                        <div class="card__back card__part"
                                            :class="{'silver':card.color=='SILVER','gold':card.color=='GOLD','titanium':card.color=='TITANIUM'}">
                                            <div class="card__black-line"></div>
                                            <div class="card__back-content">
                                                <div class="card__secret">
                                                    <p class="card__secret--last">{{card.cvv}}</p>
                                                </div>

                                                <img class="card__back-logo card__logo" src="./assets/logo.png">

                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="row flex-wrap gap-3" id="card">
                                <h2>DEBIT CARD</h2>

                                <div class="card" v-for="card in cardsDebit">
                                    <div class="card__front card__part"
                                        :class="{'silver':card.color=='SILVER','gold':card.color=='GOLD','titanium':card.color=='TITANIUM'}">
                                        <img class="card__front-logo card__logo" src="./assets/logo.png">

                                        <p class="card_numer">{{card.number.slice(0,4)}} {{card.number.slice(4,8)}}
                                            {{card.number.slice(8,12)}} {{card.number.slice(12,16)}}
                                        </p>
                                        <div class="card__space-75">
                                            <span class="card__label">Card holder</span>
                                            <p class="card__info">{{card.cardholder}}</p>
                                        </div>
                                        <div class="card__space-25">
                                            <span class="card__label">Expires</span>
                                            <p class="card__info">{{formatearFechaCard(card.thruDate)}}</p>
                                        </div>
                                    </div>

                                    <div class="card__back card__part"
                                        :class="{'silver':card.color=='SILVER','gold':card.color=='GOLD','titanium':card.color=='TITANIUM'}">
                                        <div class="card__black-line"></div>
                                        <div class="card__back-content">
                                            <div class="card__secret">
                                                <p class="card__secret--last">{{card.cvv}}</p>
                                            </div>

                                            <img class="card__back-logo card__logo" src="./assets/logo.png">

                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>

                </section> -->

        </div>
    </div>
    <script src="https://kit.fontawesome.com/23209d6861.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="./scripts/cards.js"></script>
</body>

</html>