<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
    <link rel="stylesheet" href="./styles/styles.css">
    <link rel="stylesheet" href="./styles/cards.css">
    <link rel="shortcut icon" href="./assets/favicon.ico" type="image/x-icon">
    <title>Create Cards | Dano Bank</title>
</head>

<body>
    <div id="app">

        <input type="checkbox" id="nav-toggle">
        <div class="sidebar">
            <div class="sidebar-brand">
                <h1> <span>Dano Bank</span>
                </h1>
            </div>

            <div class="sidebar-menu">
                <ul>
                    <li>
                        <a href="./accounts.html">
                            <span><i class="fa-solid fa-square-poll-vertical"></i></span>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="./cards.html">
                            <span><i class="fa-solid fa-credit-card"></i></span>
                            <span>Cards</span>
                        </a>
                    </li>
                    <li>
                        <a href="./cards.html" class="active">
                            <span><i class="fa-solid fa-money-bill-transfer"></i></span>
                            <span>Transactions</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span><i class="fa-solid fa-circle-dollar-to-slot"></i></span>
                            <span>Staking</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fas fa-boxes"></span>
                            <span>Loans</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span class="fas fa-user-circle"></span>
                            <span>My Accounts</span>
                        </a>
                    </li>

                </ul>
                <ul>
                    <li>
                        <a href="#" @click="logout()">
                            <span><i class="fa-solid fa-arrow-right-from-bracket"></i></span>
                            <span>SignOut</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-content">
            <header>
                <h2>
                    <label for="nav-toggle">
                        <span class="fas fa-bars"></span>
                    </label>
                    Request Card
                </h2>

                <div class="search-wrapper">
                    <span class="fas fa-search"> </span>
                    <input type="search" placeholder="Search..." />

                </div>

                <div class="user-wrapper">
                    <div class="">
                        <h4 v-cloak>{{client.firstName}} {{client.lastName}}</h4>
                        <small>Super Admin</small>
                    </div>
                </div>
            </header>
            <section>
                <div class="conteiner row">
                    <section>
                        <div class="color"></div>
                        <div class="color"></div>
                        <div class="color"></div>
                        <div class="box">
                            <div class="square" style="--i:0;"></div>
                            <div class="square" style="--i:1;"></div>
                            <div class="square" style="--i:2;"></div>
                            <div class="square" style="--i:3;"></div>
                            <div class="square" style="--i:4;"></div>
                            <div class="container">
                                <div class="form">
                                    <h2>Apply for a card</h2>

                                    <div class="inputBox">
                                        <h6 class="text-white">Card Type</h6>
                                        <select name="" id="" v-model="cardType">
                                            <option value="CREDIT">CREDIT</option>
                                            <option value="DEBIT">DEBIT</option>
                                        </select>
                                    </div>
                                    <div class="inputBox">
                                        <h6 class="text-white">Color Card</h6>
                                        <div class="btn-group dropend">
                                            <a type="button"
                                                class="text-decoration-none forget btn-secondary dropdown-toggle"
                                                data-bs-toggle="dropdown" aria-expanded="false">
                                                {{colorCard}}
                                            </a>

                                            <ul class="dropdown-menu" id="color2" aria-labelledby="dropdownMenuLink">
                                                <li>
                                                    <a class="dropdown-item" href="#">
                                                        <label for="silver" class="w-100">Silver
                                                            <input class="d-none" id="silver" v-model="colorCard"
                                                                value="SILVER" type="radio">
                                                        </label>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="#">
                                                        <label for="gold" class="w-100"> Gold
                                                            <input class="d-none" id="gold" v-model="colorCard"
                                                                value="GOLD" type="radio">
                                                        </label>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" href="#">
                                                        <label for="titanium" class="w-100">Titanium
                                                            <input class="d-none" id="titanium" v-model="colorCard"
                                                                value="TITANIUM" type="radio">
                                                        </label>
                                                    </a>
                                                </li>

                                            </ul>
                                            <!-- <ul class="dropdown-menu " aria-labelledby="dropdownMenuLink">
                                                <li><a class="dropdown-item" href="#">Silver</a></li>
                                                <li><a class="dropdown-item" href="#">Gold</a></li>
                                                <li><a class="dropdown-item" href="#">Titanium</a></li>
                                            </ul> -->
                                        </div>
                                    </div>
                                    <div class="inputBox">
                                        <button @click="createCard" class="btn" id="apply">Apply</button>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
        </div>
    </div>


    <script src="https://kit.fontawesome.com/23209d6861.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3"></script>

    <script src="./scripts/create-cards.js"></script>
</body>

</html>