@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap');

:root {
    --main-color: #5D3EBC;
    --color-dark: #1D2231;
    --text-grey: #8390A2;
    --widthSideBar: 100px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    width: 345px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    z-index: 100;
    background: var(--main-color);
    transition: width 300ms;

}

.sidebar-brand {
    height: 90px;
    padding: 1rem 0rem 1rem 2rem;
    color: #fff;
}

.sidebar-brand span {
    display: inline-block;
    padding-right: 1rem;
}

.sidebar-menu li {
    width: 100%;
    margin-bottom: 1.7rem;
    padding-left: 1rem;

}

.sidebar-menu {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
}

.sidebar-menu a {
    padding-left: 1rem;
    display: block;
    color: #fff;
    font-size: 1.1rem;
    text-decoration: none;
}

#nav-toggle:checked+.sidebar {
    width: var(--widthSideBar);

}

#nav-toggle:checked+.sidebar .sidebar-brand,
#nav-toggle:checked+.sidebar li {
    padding-left: 1rem;
    text-align: center;
}

#nav-toggle:checked+.sidebar li a {
    padding-left: 0rem;
}

#nav-toggle:checked+.sidebar .sidebar-brand h1 span:last-child,
#nav-toggle:checked+.sidebar li a span:last-child {
    display: none;

}

.sidebar-menu a span:first-child {
    font-size: 1.5rem;
    padding-right: 1rem;
}

.sidebar-menu a.active {
    background: #fff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--main-color);
    border-radius: 30px 0px 0px 30px;

}

#nav-toggle:checked~.main-content {
    margin-left: 70px;

}

#nav-toggle:checked~.main-content header {
    width: calc(100% - 70px);
    left: var(--widthSideBar)
}

.main-content {
    transition: margin-left 300ms;
    margin-left: 345px;
}

header {
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 345px;
    top: 0;
    z-index: 100;
    width: calc(100% - 345px);
    transition: left 300ms;
}

#nav-toggle {
    display: none;
}

header h2 {
    color: #222;
}

header label span {
    font-size: 1.7rem;
    padding-right: 1rem;
}

.search-wrapper {
    border: solid 1px #ccc;
    border-radius: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    overflow-x: hidden;
}

.search-wrapper span {
    display: inline-block;
    padding: 0rem 1rem;
    font-size: 1.5rem;
}

.search-wrapper input {
    height: 100%;
    padding: .5rem;
    border: none;
    outline: none;

}

.user-wrapper {
    display: flex;
    align-items: center;
    /* height: 50px; */
}

.user-wrapper img {
    border-radius: 50%;
    margin-right: .5rem;
}

.user-wrapper small {
    display: inline-block;
    color: var(--text-grey);
    margin-top: -1px !important;

}

.custom-btnn {
    width: auto;
    font-size: 1rem;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

/* From uiverse.io by @bandirevanth */
.custom-btn {
    width: 7rem;
    height: 3rem;
    font-size: 1rem;
    width: 100%;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

.btn-1 {
    background: var(--main-color);
    background: linear-gradient(0deg, rgba(96, 9, 240, 1) 0%, rgba(129, 5, 240, 1) 100%);
    border: none;
}

.btn-1:before {
    height: 0%;
    width: 2px;
}

.btn-1:hover {
    box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
        -4px -4px 6px 0 rgba(116, 125, 136, .5),
        inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}


main {
    margin-top: 85px;
    padding: 2rem 1.5rem;
    background: #f1f5f9;
    min-height: calc(100vh - 90px);
}

[v-cloak] {
    display: none;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
}

.card-single {
    display: flex;
    justify-content: space-between;
    background: #fff;
    padding: 2rem;
    border-radius: 12px;
}

.card-single a,
.card-header a {
    text-decoration: none;
    color: var(--text-grey);
}

.card-single a:hover,
.card-header a {
    transform: scale(1.5) !important;
    /* color: red !important; */
}

.card-header a {
    color: var(--text-grey);
}

.card-single a:visited {
    color: var(--text-grey);
}

.card-single div:last-child i {
    color: var(--main-color);
    font-size: 3rem;
}

.card-single .fa-wallet {
    color: white !important;
}

/* 
#management-account {
    cursor: pointer;
} */

.card-single div:first-child span {
    color: var(--text-grey);
}

.card-single:last-child {
    background: var(--main-color);
}

.card-single:last-child h1,
.card-single:last-child div:first-child span,
.card-single:last-child div:last-child span {
    color: #fff;
}

.recent-grid {
    margin-top: 3.5rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 65% auto;
}

.card {
    background: #fff;
    border-radius: 12px;
}

.card-header {
    padding: 1rem;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f0f0f0;
}

.card-header button {
    background: var(--main-color);
    border-radius: 10px;
    color: #fff;
    font-size: .5rem;
    padding: .5rem 1rem;
    margin: 0 1rem;
    border: 1px solid var(--main-color);
}

table {
    border-collapse: collapse;

}

thead tr {
    border-top: 1px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;

}

thead td {
    font-weight: 700;
}

td {
    padding: .5rem 1rem;
    font-size: 1rem;
    color: #222;

}


td .status {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 1rem;
}

.status.green {
    background: green;
}

.status.red {
    background: red;
}

.cardss {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem .7rem;
}

.info {
    display: flex;
    align-items: center;
}

.info img {
    border-radius: 50%;
    margin-right: 1rem;
}

.info h4 {
    font-size: .8rem;
    font-weight: 700;
    color: #222;
}

.info small {
    font-weight: 600;
    color: var(--text-grey);
}

.contact span {
    font-size: 1.2rem;
    display: inline-block;
    margin-left: .5rem;
    color: var(--main-color);

}

main .accounts {
    width: 95vw;
}

@media only screen and (max-width: 1200px) {
    .table-transactions {
        overflow: scroll;
        overflow-x: visible !important;
    }

    .sidebar {
        width: var(--widthSideBar);
    }

    .sidebar .sidebar-brand,
    .sidebar li {
        padding-left: 1rem;
        text-align: center;
    }

    #nav-toggle:checked+.sidebar li a {
        padding-left: 0rem;
    }

    .sidebar .sidebar-brand h1 span:last-child,
    .sidebar li a span:last-child {
        display: none;

    }

    .main-content header {
        width: calc(100% - 70px);
        left: var(--widthSideBar);
    }

    .main-content {
        margin-left: calc(var(--widthSideBar))
    }
}

@media only screen and (max-width: 960px) {
    .table-transactions {
        overflow: scroll;
        overflow-x: visible !important;
    }

    .card-single {
        width: 100%;
    }

    .table-transactions {
        overflow: scroll;
        overflow-x: visible !important;
    }

    /* .recent-grid {
        grid-template-columns: 60% 40%;
    } */
}

@media only screen and (max-width: 768px) {
    /* .cards {
        grid-template-columns: repeat(2, 1fr);
    } */


    .table-transactions {
        overflow: scroll;
        overflow-x: visible !important;
    }

    /* 
    .recent-grid {
        grid-template-columns: 100%;
    } */

    .search-wrapper {
        display: none;
    }

    .sidebar {

        left: -100% !important;
    }

    header h2 {
        display: flex;
        align-items: center;
    }

    header h2 label {
        display: inline-block;
        text-align: center;
        background: var(--main-color);
        padding-right: 0rem;
        margin-right: 1rem;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center !important;
    }

    header h2 span {
        text-align: center;
        padding-right: 0rem;
    }

    header h2 {
        font-size: 1.1rem;
    }

    .main-content {
        width: 100%;
        margin-left: 0rem;
    }

    header {
        width: 100% !important;
        left: 0 !important;
    }

    #nav-toggle:checked+.sidebar {
        left: 0 !important;
        z-index: 100;
        width: 345px;
    }

    #nav-toggle:checked .sidebar .sidebar-brand,
    #nav-toggle:checked+.sidebar li {
        padding-left: 2rem;
        text-align: left;
    }

    #nav-toggle:checked+.sidebar li a {
        padding-left: 1rem;
    }

    #nav-toggle:checked+.sidebar .sidebar-brand h1 span:last-child,
    #nav-toggle:checked+.sidebar li a span:last-child {
        display: inline;

    }

    #nav-toggle:checked~.main-content {
        margin-left: 0rem !important;
    }
}

@media only screen and (max-width: 560px) {
    /* .cards {
        grid-template-columns: 100%;
    } */

    .table-transactions {
        overflow: scroll;
        overflow-x: visible !important;
    }
}




.row>* {
    padding-right: 0;
}

.contenedorrr {
    min-height: 65vh;
    max-height: 65vh;

}

.projects {
    max-height: 65vh;

}


.table-transactions {

    border-radius: 1rem;
    height: 48.5vh;
    overflow: scroll;
    overflow-x: hidden;

}

.height-card {
    height: 20vh;
    overflow: scroll;
    overflow-x: hidden;
}

.table-transactions::-webkit-scrollbar,
.height-card::-webkit-scrollbar {
    width: 11px;
}

.table-transactions::-webkit-scrollbar-track,
.height-card::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.table-transactions::-webkit-scrollbar-thumb,
.height-card::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--main-color);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

/* =========== CHANGE COLOR SWEET ALERT ========== */
.swal2-popup.swal2-modal.swal2-show {
    background: var(--main-color);
    color: white;
}

.swal2-deny.swal2-styled {
    background-color: var(--text-grey);
}

.swal2-confirm.swal2-styled {
    background-color: #66b9e0;
}

.swal2-success-circular-line-left {
    background-color: transparent !important;
}

.swal2-success-circular-line-right {
    background-color: transparent !important;
}

.swal2-success-fix {
    background-color: transparent !important;
}

.swal2-radio {
    background-color: var(--main-color) !important;
}

/* ========= MODAL STYLES =======*/

.modal-content {
    width: 50vw;
}


/* ========= BUTTON DOWNLOAD ======== */
/* From uiverse.io by @barisdogansutcu */
.download-button {
    position: relative;
    border-width: 0;
    color: white;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
    z-index: 1;
}

.download-button .docs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    min-height: 40px;
    padding: 0 10px;
    border-radius: 4px;
    z-index: 1;
    background-color: #2c2435;
    border: solid 1px #e8e8e82d;
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
}

.download-button:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.download {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: 0 auto;
    z-index: -1;
    border-radius: 4px;
    transform: translateY(0%);
    background-color: #5D3EBC;
    border: solid 1px #331e72;
    transition: all .5s cubic-bezier(0.77, 0, 0.175, 1);
}

.download-button:hover .download {
    transform: translateY(100%)
}

.download svg polyline,
.download svg line {
    animation: docs 1s infinite;
}

@keyframes docs {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(-15%);
    }

    100% {
        transform: translateY(0%);
    }
}

#not-transaction {
    width: 46%;
    height: 50%;
}

.loader-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0c1a3f3d;
    position: fixed;
    top: 0;
    z-index: 10000;
}

.loader-desactive {
    display: none;
}

/* From cssbuttons.io by @satyamchaudharydev */
.loading {
    --speed-of-animation: 1.1s;
    --gap: 8px;
    --first-color: #d61f49;
    --second-color: #0c1a3f;
    --third-color: #d61f49;
    --fourth-color: #0c1a3f;
    --fifth-color: #d61f49;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    gap: 8px;
    height: 100px;
}

.loading span {
    width: 6px;
    height: 100px;
    background: var(--first-color);
    animation: scale var(--speed-of-animation) ease-in-out infinite;
}

.loading span:nth-child(2) {
    background: var(--second-color);
    animation-delay: -0.8s;
}

.loading span:nth-child(3) {
    background: var(--third-color);
    animation-delay: -0.7s;
}

.loading span:nth-child(4) {
    background: var(--fourth-color);
    animation-delay: -0.6s;
}

.loading span:nth-child(5) {
    background: var(--fifth-color);
    animation-delay: -0.5s;
}

@keyframes scale {

    0%,
    40%,
    100% {
        transform: scaleY(0.05);
    }

    20% {
        transform: scaleY(1);
    }
}